@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  /* Adjust the background color as needed */
  z-index: 1000;
  /* Ensure the header appears above other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Optional shadow for the header */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
